.list-of-courses {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  &__button {
    background-color: red;
    color: white;
    border-radius: 10px;
    border: none;
    min-width: 200px;
    height: 42px;
    font-size: 20px;
    padding: 8px 0;
    cursor: pointer;
    transition: 0.3s;

    @media (max-width: 768px) {
      min-width: 290px;
      width: 100%;
    }

    &:hover {
      background-color: #e26868;
    }
  }

  & .course-item {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    min-width: 290px;

    &__checkbox {
      min-width: 24px;
      min-height: 24px;
      margin-right: 16px;
    }

    &__label {
      word-break: break-word;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: 768px) {
      &:last-child {
        margin-bottom: 24px;
      }
    }
  }
}
